*{
    margin: 0;
    padding:0;
}

.navbar{
    display: flex;
    background-color: black;
    color: white;
    height: 49px;
    padding-top: 11px;
    justify-content: space-around;
}

.parent-icons{
    display: flex;
    
}
.child-icons{
    height: 30px;
    width: 31px;
    border-radius: 50%;
    margin-right: 21px;
}
.website-heading{
     height: fit-content;
}
.website-heading span{
    font-size: 23px;
    font-weight: bold;
}
.Search{
    background-color: white;
    height: fit-content;
    border-radius: 8px;
}

.Search-input{
    height: 37px;
    border-radius: inherit;
    border: none;
    padding-left: 5px;
    outline: none;
}

.button{
    color: black;
    width: 50px;
    height: 37px;
    border-radius: inherit;
    background-color: none;
}
.button:hover{
    color:black;
    background-color: white;
}

@media screen and (max-width: 768px) {
    .navbar {
      flex-direction: column;
      height: auto;
      padding-top: 20px;
      text-align: center;
    }
    .parent-icons {
      margin-bottom: 20px;
      justify-content: center;
    }
    .Search {
      background:white;
    width: 67%;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 17px;
    }
   .Search button{
    color: black;
    background-color: white;
    border-radius: 1px;
    width: 16vw;
   
   }  
}

.child-icons svg{

    width: auto;
    height: 28px;
    margin: 1px;
}

.pagefirst-innerbox{
    display: flex;
}
.inner-box1{
    margin: 16px;
    width: 31%;
    height: 212px;
    box-shadow: 2px 0px 6px 0px darkgrey;
}

.inner-box1 div{
    display: flex;
}

.Readmore-btn{
    width: 110px;
    height: 30px;
    border-radius: 6px;
    border: none;
    background-color: black;
    color: white;
    position: relative;
    left: 61%;
    bottom: 23%;
}


.pagefirst-innerbox{
    flex-wrap: wrap;
    flex-direction: row;
    flex-shrink: 1px 33px;
    justify-content: center;
}

.box-para{
    padding: 13px;
    font-size: 1vw;
}

@media screen and (max-width: 768px) {
    .pagefirst-innerbox {
      flex-direction: column;
    }
    
    .inner-box1 {
      width: 94%;
      margin-bottom: 16px;
    }
    
    .Readmore-btn {
        left: 80%;
        bottom: 21%;
        transform: translateX(-50%);
    }
  }


.footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 234px;
}

.footer button{
    display: flex;
    margin: auto;
    margin-top: 14px;
    width: 7vw;
    height: fit-content;
    border-radius: 8px;
    font-size: 1vw;
    padding: 4px;

    background-color: #ff0000b5;
    color: white;
    justify-content: center;
}

.footer h1{
    font-size: 3vw;
    /* padding: 25px; */
    padding-top: 27px;
}

.footer-icons{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.footer-inner-icons{
    /* border: 1px solid white; */
    padding-right: 15px;
}